
@font-face {
    /* font-family: 'moonscape';
    src: url(fonts/Moonscape/moonscape-demo.otf);
    font-family: 'crescent-slim';
    src: url(fonts/CrescentSlim/Crescentslimdemo-1G59L.otf); */
    font-family: 'array-regular';
    src: url(fonts/Array/Array-Regular.woff);
}
@font-face {
    font-family: 'general-sans';
    src: url(fonts/generalSans/GeneralSans-Light.ttf);
}
@font-face {
    font-family: 'moonscape';
    src: url(fonts/Moonscape/moonscape-demo.otf);
}
@font-face {
    font-family: 'switzer-light';
    src: url(fonts/switzer/Switzer-Light.woff);
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'general-sans',sans-serif;
    scroll-behavior: smooth;
}

body::-webkit-scrollbar{
    display: none;
}

/* Header */

.header {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

#bg-video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%);
    z-index: -2;
    background-color: #000;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.68),rgba(0, 0, 0, 0.68));
    z-index: -1;
}
 .title-text{
   
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-75%);
    font-family: 'moonscape',sans-serif;
    
} 
.title-text span{
    font-size: 152px;
    color:white;
 
}


.header-shader-top{
    position:absolute;
    top: 0;
    height: 150px;
    width: 100%;
    background-image: linear-gradient(black,transparent);
    z-index: -1;
}
.header-shader-bottom{
    position:absolute;
    bottom: 0;
    height: 150px;
    width: 100%;
    background-image: linear-gradient(transparent,black);
    z-index: -1;
}

/* nav bar */
nav{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

ul{
    padding-left: 0;
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.nav-links{
    position: relative;
    flex: 1;
    text-align: center;
    z-index: 1;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    position: relative;
    padding: 10px 0px;
    width: 180px;
}
.nav-links ul li a{
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-weight: lighter;

}
.nav-links ul li:hover{
    background-image: radial-gradient(#ff4655 0% ,transparent 70%);
}

.chypher{
  display: flex;
  justify-content: center;
  align-items: center;
}
.chypher div{
  height: 1080px;
}
/* countdown timer */


#countdown{
    display: flex;
    justify-content: left;
    align-items: center;
    color: white;
    height: 100vh;
    background-color: rgb(17, 39, 62);
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.68),rgba(0, 0, 0, 0.68)); */
    background-image: url(images/chypher.png);
    background-size: cover;
    padding: 0px 64px;
}

.CD-shader-top{
  position: absolute;
  width: 100%;
  height:150px;
  z-index: 2;
  background-image: linear-gradient(black,transparent);
  /* border: 1px solid red; */
}
.CD-shader-bottom{
  position: relative;
  bottom: 150px;
  width: 100%;
  height:150px;
  z-index: 3;
  background-image: linear-gradient(transparent,black);
  /* border: 1px solid red; */
}

.countdown-title{
    font-family: 'moonscape';
    font-size: 80px;
    margin:0;
}

.countdown-container h1{
    font-family: 'general-sans';
    font-weight: lighter;
    font-size: 32px;
    margin-top: 0;
}

.button {
  font-family: 'general-sans';
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border: none;
    background: none;
    color: #0f1923;
    cursor: pointer;
    position: relative;
    padding: 8px;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 16px;
    transition: all .15s ease;
  }
  
  .button::before,
  .button::after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    left: 0;
    height: calc(50% - 5px);
    border: 1px solid #7D8082;
    transition: all .15s ease;
  }
  
  .button::before {
    top: 0;
    border-bottom-width: 0;
  }
  
  .button::after {
    bottom: 0;
    border-top-width: 0;
  }
  
  .button:active,
  .button:focus {
    outline: none;
  }
  
  .button:active::before,
  .button:active::after {
    right: 3px;
    left: 3px;
  }
  
  .button:active::before {
    top: 3px;
  }
  
  .button:active::after {
    bottom: 3px;
  }
  
  .button_lg {
    position: relative;
    display: block;
    padding: 10px 20px;
    color: #fff;
    background-color: #0f1923;
    overflow: hidden;
    box-shadow: inset 0px 0px 0px 1px transparent;
  }
  
  .button_lg::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 2px;
    background-color: #0f1923;
  }
  
  .button_lg::after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 4px;
    height: 4px;
    background-color: #0f1923;
    transition: all .2s ease;
  }
  
  .button_sl {
    display: block;
    position: absolute;
    top: 0;
    bottom: -1px;
    left: -8px;
    width: 0;
    background-color: #ff4655;
    transform: skew(-15deg);
    transition: all .2s ease;
  }
  
  .button_text {
    position: relative;
  }
  
  .button:hover {
    color: #0f1923;
  }
  
  .button:hover .button_sl {
    width: calc(100% + 15px);
  }
  
  .button:hover .button_lg::after {
    background-color: #fff;
  }

  .timer{
    display: flex;
  }
  .timer div{
    flex-basis: 150px;
    margin-bottom: 64px;
    text-align: left;
  }
  .timer div p{
    font-size: 64px;
    margin: 0;
    color: #ff4655;
  }

  .Port-shader-top{
    position: absolute;
    transform: translate(0,-151px);
    height: 150px;
    width: 100%;
    z-index: 2;
    background-image: linear-gradient(black,transparent);
  }
  .KnowtheCreator{
    width: 100%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.68),rgba(0, 0, 0, 0.68));
  }

  .Port-shader-bottom{
    position: absolute;
    transform: translate(0,-300px);
    height: 150px;
    width: 100%;
    z-index: 2;
    background-image: linear-gradient(transparent,black);
  }

  #Portfolio{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
    /* padding: 0 64px; */
    background-image: url(images/champions.jpg);
    background-size: cover;
    transform: translate(0,-150px);
    text-align: left;
  }

  .red{
    color: #ff4655;
  }
  .port-title{
    font-family: 'moonscape';
    font-size: 80px;
    margin-top: 0px;
    margin-bottom: 16px;
    padding: 64px;
    width: 100%;
  }

  .port-text{
    font-family: 'general-sans';
    font-size: 16px;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  #About{
    display: flex;
    justify-content: right;
    align-items: center;
    height: 100vh;
    color: white;
    /* padding: 0 64px; */
    background-image: url(images/lotus.jpg);
    background-size: cover;
    transform: translate(0,-150px);
    text-align: left;
  }
  .about-container{
    width: 100%;
    height:100%;
    display: flex;
    justify-content: right;
    align-items: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.68),rgba(0, 0, 0, 0.68));
  }
  .About-title{
    display: block;
    width: 100%;
    font-family: 'moonscape';
    font-size: 80px;
    padding: 64px;
    color: white;
  }
  .about-text{
    display: block;
    width: 100%;
    font-size: 16px;

  }
  .About-shader-top{
    position: absolute;
    transform: translate(0,-151px);
    height: 150px;
    width: 100%;
    z-index: 2;
    background-image: linear-gradient(black,transparent);
  }

  .about-bottom-shader{
    position: absolute;
    transform: translate(0,-300px);
    height: 150px;
    width: 100%;
    z-index: 2;
    background-image: linear-gradient(transparent,black);
  }

  footer{
    font-family: 'general-sans';
    position: absolute;
    width: 100%;
    height: 250px;
    background: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translate(0,-151px);
  }
  footer p:nth-child(1){
    font-size: 30px;
    color: white;
    margin-bottom: 20px;
    font-weight: bold;
  }
  footer p:nth-child(2){
    color: white;
    font-size: 17px;
    width: 500px;
    text-align: center;
    line-height: 26px;
  }
  .social{
    display: flex;
  }
  .social a{
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    border-radius: 50%;
    margin: 22px 10px;
    color: white;
    text-decoration: none;
    font-size: 20px;
  }
  .social a:hover{
    transform: scale(1.3);
    transition: .3s;
  }
  .bottom{
      background-color: black;
      height: 40px;
      width: 100%;
      position: absolute;
      bottom: 0;
      display: flex;
      align-items: center;
  }
  .links{
      flex: 1;
      text-align: center;
  }
  .links ul li{
      list-style: none;
      display: inline-block;
      padding: 1px 30px;
      position: relative;
  }
  .links ul li a{
      color: white;
      text-decoration: none;
  
  }
  